@model List<SnappedChallengeApi.Models.Bussiness.ClassworkSummary>
@{
    ViewData["Title"] = "Today";
}
<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">check</i>
                        </div>
                        <p class="card-category">Correct Answer Count</p>
                        <h3 class="card-title">@Model.Sum(f => f.CorrectAnswerCount)</h3>
                    </div>
                    <div class="card-footer">
                        @*<div class="stats">
                            <i class="material-icons"></i>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">cancel</i>
                        </div>
                        <p class="card-category">Wrong Answer Count</p>
                        <h3 class="card-title">@Model.Sum(f => f.WrongAnswerCount)</h3>
                    </div>
                    <div class="card-footer">
                        @*<div class="stats">
                        <i class="material-icons"></i>
                    </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Total Progress</p>
                        <h3 class="card-title">
                            @Model.Sum(f => f.TotalProgress)
                            <small>points</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            @*<i class="material-icons text-danger"></i>
                        <a href="#pablo"></a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">timeline</i>
                        </div>
                        <p class="card-category">Max/Min Progress Per Student</p>
                        <h3 class="card-title">
                            @String.Format("{0:0.00}", Model.Max(f => f.TotalProgressPerStudent)) /
                            @String.Format("{0:0.00}", Model.Min(f => f.TotalProgressPerStudent))
                            <small>points</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        @*<div class="stats">
                        <i class="material-icons"></i>
                    </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Daily Sales</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Email Subscriptions</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Completed Tasks</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Classwork Exercise Results</h4>
                        <p class="card-category">Consolided Exercise Summary is listed below</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                            <th>Date</th>
                            <th>Subject</th>
                            <th>Domain</th>
                            <th>Learning Objective</th>
                            <th>Correct Answer</th>
                            <th>Wrong Answer</th>
                            <th>Student Count</th>
                            <th>Total Progress</th>
                            <th>Total Progress/Student</th>
                            </thead>
                            <tbody>
                                @foreach (var currentRecord in Model)
                                {
                                <tr>
                                    <td>@currentRecord.Date.ToShortDateString()</td>
                                    <td>@currentRecord.Subject</td>
                                    <td>@currentRecord.Domain</td>
                                    <td>@currentRecord.LearningObjective</td>
                                    <td>@currentRecord.CorrectAnswerCount</td>
                                    <td>@currentRecord.WrongAnswerCount</td>
                                    <td>@currentRecord.StudentCount</td>
                                    <td>@String.Format("{0:0.00}", currentRecord.TotalProgress)</td>
                                    <td>@String.Format("{0:0.00}", currentRecord.TotalProgressPerStudent)</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
