@using Microsoft.AspNetCore.Mvc.ViewFeatures.Internal
@using Snappet.Challenge.Web.Core.ViewModel
@model ClassSummaryViewModel

@{
    ViewBag.Title = string.Format("Class results overview on {0:d}", Model.SearchDate);
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Index", "ClassSummary", FormMethod.Post))
{
    <div class="row">
        <div class="input-group col-md-4">
            @Html.EditorFor(cs => cs.SearchDate, new { @name="searchDate", @class="form-control"})
        </div>
        <div class="input-group col-md-4">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Filter</button>
            </span>
        </div>
    </div>
    
@*    <div class="form-group">*@
@*        <label for="searchDate">Date:</label>*@
@*        @Html.EditorFor(cs => cs.SearchDate, new {@name = "searchDate", @class = "form-control"})*@
@*        <button type="submit" class="btn btn-primary">Filter</button>*@
@*    </div>*@
}

@{
    Html.RenderPartial("Summary", Model);
}

<table class="table table-striped">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(cs => cs.ClassSummary.UserId)</th>
        <th>@Html.DisplayNameFor(cs => cs.ClassSummary.Correct)</th>
        <th>@Html.DisplayNameFor(cs => cs.ClassSummary.Wrong)</th>
        <th>@Html.DisplayNameFor(cs => cs.ClassSummary.Ratio)</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var summary in Model.ClassResults)
    {
        <tr>
            <td>@summary.UserId</td>
            <td>@summary.Correct</td>
            <td>@summary.Wrong</td>
            <td>@summary.Ratio%</td>
            <td>@Html.ActionLink("Details", "Details", "ClassSummary", new {id = @summary.UserId})</td>
            <td>@Html.ActionLink("History", "History", "Student", new {id = @summary.UserId})</td>
        </tr>
    }
    </tbody>
</table>